<template>
  <div class="resume" id="resume2">
    <div class="left-column">
      <div>
        <div class="headline">
          <span>
            {{ person.name.first }} {{ person.name.middle }}
            {{ person.name.last }}</span
          >
        </div>

        <p>
          <span class="txt-full-white"> {{ person.position }} </span>
          <br />
          <br />
          <span class="txt-full-white">
            Born {{ person.birth.year }} in {{ person.birth.location }}</span
          >
          <br />
          <br />
          <span> {{ person.contact.street }}</span>
          <br />
          <span> {{ person.contact.city }} </span>
        </p>
      </div>

      <div class="multi-line-txt">
        {{ person.about }}
      </div>

      <div class="multi-line-txt">
        {{ person.knowledge }}
      </div>

      <div class="subheadline">
        {{ lang.skills }}
      </div>
      <div class="section-content-grid">
        <a
          class="grid-item"
          v-for="(skill, index) in person.skills"
          :key="index"
        >
          <div class="squarred-grid-item">{{ skill.name }}</div>
        </a>
      </div>

      <!-- START LANGUAGES SECTION -->
      <div class="subheadline">
        {{ lang.languages }}
      </div>
      <div class="section-content-grid">
        <a
          class="grid-item"
          v-for="(language, index) in person.languages"
          :key="index"
        >
          <div class="squarred-grid-item">{{ language.name }}</div>
        </a>
      </div>

      <div class="social-container">
        <span class="subheadline">{{ lang.contact }}</span>

        <div class="block-marged">
          <i class="fa fa-home contact-icon"></i>
          {{ person.contact.street }}
        </div>

        <div class="block-marged">
          <i class="fa fa-building contact-icon"></i>
          {{ person.contact.city }}, {{ person.contact.state }}
        </div>

        <a :href="contactLinks.email">
          <div class="block-marged">
            <i class="fa fa-envelope contact-icon"></i>
            {{ person.contact.email }}
          </div>
        </a>

        <div class="block-marged">
          <i class="fa fa-phone contact-icon"></i>
          {{ person.contact.phone }}
        </div>
      </div>

      <div class="social-container">
        <span class="subheadline"> {{ lang.social }}</span>
        <a v-if="person.contact.website" :href="person.contact.website">
          <div class="block-marged">
            <i class="fa fa-globe contact-icon"></i>
            {{ person.contact.website }}
          </div>
        </a>

        <a v-if="person.contact.linkedin" :href="person.contact.linkedin">
          <div class="block-marged">
            <i class="fa fa-linkedin contact-icon"></i>
            linkedin.com/in/{{ person.contact.linkedin }}
          </div>
        </a>

        <a v-if="person.contact.github" :href="person.contact.github">
          <div class="block-marged">
            <i class="fa fa-github contact-icon"></i>
            github.com/{{ person.contact.github }}
          </div>
        </a>

        <a v-if="person.contact.gitlab" :href="person.contact.gitlab">
          <div class="block-marged">
            <i class="fa fa-gitlab contact-icon"></i>
            gitlab.com/{{ person.contact.gitlab }}
          </div>
        </a>

        <a
          v-if="person.contact.medium"
          :href="contactLinks.medium"
          class="external-link"
        >
          <i class="fab fa-medium contact-icon"></i>
          <span class="block-marged txt-full-white">
            {{ person.contact.medium }}
          </span>
        </a>
      </div>
    </div>

    <div class="left-column-bg">
    </div>

    <div class="right-column">
      <div class="experience-section section">
        <div class="icon">
          <i class="material-icons small-icon">work</i>
          <span class="section-headline">{{ lang.experience }}</span>
        </div>

        <div class="section-content">
          <a
            v-for="(experience, index) in person.experience"
            :key="index"
            class="section-content__item"
            :href="experience.website"
          >
            <span class="section-content__header">
              {{ experience.position }}</span
            >
            <span class="section-content__subheader">
              {{ experience.company }}</span
            >
            <div class="section-content__text">{{ experience.timeperiod }}</div>
            <div
              class="section-content__text--light"
              v-for="(notes, index) in experience.notes"
              :key="notes.item"
            >
              {{ notes.item }}
            </div>
          </a>
        </div>
      </div>

      <div class="education-section section">
        <div class="icon">
          <i class="material-icons">school</i>
          <span class="section-headline">{{ lang.education }}</span>
        </div>

        <div class="section-content">
          <a
            v-for="(education, index) in person.education"
            :key="index"
            class="section-content__item"
            :href="education.website"
          >
            <span class="section-content__header">
              {{ education.school }}
            </span>
            <span class="section-content__subheader">{{
              education.degree
            }}</span>
            <span class="section-content__text">
              {{ education.graduated }}
            </span>
            <span class="section-content__text--light">
              {{ education.description }}
            </span>
            <br />
            <span class="section-content__text--light">
              {{ education.minor }}
            </span>
          </a>
        </div>
      </div>

      <div v-if="person.projects" class="projects-section section">
        <div class="icon">
          <i class="material-icons">code</i>
          <span class="section-headline"> {{ lang.projects }} </span>
        </div>

        <div class="section-content">
          <a
            v-for="(project, index) in person.projects"
            :key="index"
            class="section-content__item"
            :href="project.url"
          >
            <span class="section-content__header"> {{ project.name }} </span>
            <span class="section-content__subheader">{{
              project.platform
            }}</span>
            <span class="section-content__text">
              {{ project.description }}
            </span>
            <span class="section-content__text--light">
              {{ project.url }}
            </span>
          </a>
        </div>
      </div>

      <!-- START CERTIFICATIONS SECTION -->
      <div v-if="person.certifications" class="certifications-section section">
        <div class="icon">
          <i class="material-icons">verified_user</i>
          <span class="section-headline"> {{ lang.certifications }} </span>
        </div>

        <div class="section-content-grid">
          <a
            v-for="(certificate, index) in person.certifications"
            :key="index"
            class="section-content__item-grid"
          >
            <span class="section-content__header">
              {{ certificate.name }}
            </span>
            <span v-if="certificate.year" class="section-content__text">
              {{ certificate.year }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { getVueOptions } from './options';

const name = 'detailed';

export default Vue.component(name, getVueOptions(name));
</script>

<style lang="less" scoped>
@accent-color: #263238;
@secondary-color: #eceff1;

.resume {
  display: flex;
  position: relative;

  font-family: "Roboto" !important;
  font-size: 0.9em;
}

.left-column {
  width: 30%;
  height: 100%;
  padding: 24px;
  padding-top: 45px;
  text-align: left;

  color: @secondary-color;
  background-color: @accent-color;
  display: block;
  z-index: 2;

  opacity: 1; // lower this value (0.7 approx.) to see the cover image
  position: absolute;
}

// Background cover displayed on the left-column side
// ------------
.left-column-bg {
  // --------------------------------------
  // background: url('../assets/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 25%;
  opacity: 0.4; // up this value to contrast the cover image

  height: 100%;
  width: 35%;
  padding: 30px;
  padding-top: 45px;

  display: block;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 1;
}

.right-column {
  display: flex;
  flex-direction: column;
  padding: 24px;

  height: 100%;
  width: 70%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration-line: none;

  &:visited {
    color: inherit;
  }
}

.material-icons {
  color: @accent-color;
  position: relative;
  top: 5px;
}

.material-icons-light {
  color: @secondary-color;
  position: relative;
  top: 2px;
}

.font-awesome-icons {
  color: @accent-color;
  font-size: 1.3em;
  margin-right: 6px;
}

.small-icon {
  top: 2.5px;
  font-size: 1.4em;
}

.contact-icon {
  color: @secondary-color;
  font-size: 1.2em;
  margin-right: 10px;

  top: 2px;
  position: relative;
}

.contact-icon-svg {
  margin-top: -2.5px;
  margin-right: 10px;

  transform: scale(1);

  top: 5px;
  position: relative;
}

.contact-icon-svg path {
  fill: @secondary-color;
}

.external-link {
  display: block;
  margin-bottom: 5px;
}

.block-marged {
  margin-top: 10px;
  margin-bottom: 10px;
}

.multi-line-txt {
  margin-top: 30px;
  margin-bottom: 20px;
}

.social-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.headline {
  color: @secondary-color;
  font-size: 1.2em;
  font-weight: bold;
}

.txt-full-white {
  color: @secondary-color;
}

.uppercase {
  text-transform: uppercase;
}

.section-headline {
  color: @accent-color;
  display: inline-block;
  font-size: 1.1em;
  margin-left: 5px;
}

.section-headline-secondary {
  color: @secondary-color;
  display: inline-block;
  font-size: 1.1em;
  margin-left: 5px;
}

.section-content {
  margin-top: 10px;
  padding-left: 32px;
}

.section-content__item {
  display: block;
  margin-bottom: 10px;
}

.section-content__item-grid {
  flex: 1 1 0;

  margin-bottom: 10px;
  padding-right: 10px;
}

.section-content-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 24px;
}

.grid-item {
  padding-right: 20px;
}

.section-content__header {
  display: block;

  font-size: 1em;
  font-weight: 500;
}

.squarred-grid-item {
  display: block;

  border: 1px solid @accent-color;

  background-color: @accent-color;
  color: @secondary-color;

  margin-top: 5px;
  padding: 5px;
  transition: 0.5s;

  &:hover {
    background-color: transparent;
    color: @accent-color;
    transition: 0.5s;
  }
}

.section-content__subheader {
  display: block;
  font-weight: 400;
}

.section-content__text {
  display: block;
  font-weight: 300;
}

.section-content__text--light {
  color: @accent-color;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.15;
  margin-top: 8px;
}

.section-content__subheader,
.section-content__text--light,
.section-content__header {
  line-height: 1.2em;
}

.section {
  margin-top: 8px;
  margin-bottom: 8px;
}

.lang-icon {
  color: rgba(0, 0, 0, 0.72);
  font-size: 3em;

  &:hover {
    color: @accent-color;
  }
}

.skills-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subheadline {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1em;

  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-content-grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: flex-start;
}
.grid-item {
  padding-right: 5px;
  padding-left: 5px;
}
.squarred-grid-item {
  display: block;
  border: 1px solid @secondary-color;
  color: @secondary-color;
  margin-top: 5px;
  font-size: 10px;
}
</style>
