<template>
  <div class="resume">
    <div class="banner">
      <div class="banner__fullname">
        {{ person.name.first }} {{ person.name.middle }} {{ person.name.last }}
      </div>
      <div class="banner__position">{{ person.position }}</div>
      <div v-if="person.birth" class="banner__location">
        {{ lang.born }} {{ person.birth.year }} {{ lang.bornIn }}
        {{ person.birth.location }}
      </div>
    </div>
    <!-- LEFT COLUMN -->
    <div class="content">
      <div class="content__left">
        <div class="section">
          <div class="section-headline">
            {{ lang.about }}
          </div>

          <div class="section-content section-content--plain">
            {{ person.about }}
            <br />
            <br />
            {{ person.knowledge }}
          </div>
        </div>
        <!-- SKILLS SECTION -->
        <div v-if="person.skills" class="section">
          <div class="section-headline">
            {{ lang.skills }}
          </div>

          <div class="section-content-grid">
            <a
              v-for="(skill, index) in person.skills"
              class="grid-item"
              :key="index"
              :class="{ link: skill.url !== undefined }"
              :href="skill.url"
            >
              <span class="squarred-grid-item">
                {{ skill.name }}
              </span>
            </a>
          </div>
        </div>
        <!-- END SKILLS SECTION -->

        <!-- LANGUAGES SECTION -->
        <div v-if="person.languages" class="section">
          <div class="section-headline">
            {{ lang.languages }}
          </div>

          <div class="section-content-grid">
            <a
              class="grid-item"
              v-for="(language, index) in person.languages"
              :key="index"
            >
              <span class="squarred-grid-item">
                {{ language.name }}
              </span>
            </a>
          </div>
        </div>
        <!-- END LANGUAGES SECTION -->

        <!-- CONTACT SECTION -->
        <div class="section">
          <div class="section-headline">
            {{ lang.contact }}
          </div>

          <div class="section-content section-content--plain">
            <div class="section-link">
              <i class="section-link__icon material-icons">home</i>
              {{ person.contact.street }}
            </div>
            <div class="section-link">
              <i class="section-link__icon material-icons">business</i>
              {{ person.contact.city }}, {{ person.contact.state }}
            </div>

            <a class="section-link link" :href="contactLinks.email">
              <i class="section-link__icon material-icons">mail</i
              >{{ person.contact.email }}
            </a>

            <div class="section-link">
              <i class="section-link__icon material-icons">phone</i
              >{{ person.contact.phone }}
            </div>

            <a
              v-if="person.contact.website"
              class="section-link link"
              :href="person.contact.website"
            >
              <i class="section-link__icon fa fa-globe"></i
              >{{ person.contact.website }}
            </a>

            <a
              v-if="person.contact.linkedin"
              class="section-link link"
              :href="contactLinks.linkedin"
            >
              <i class="section-link__icon fa fa-linkedin"></i
              >linkedin.com/in/{{ person.contact.linkedin }}
            </a>

            <a
              v-if="person.contact.github"
              class="section-link link"
              :href="contactLinks.github"
            >
              <i class="section-link__icon fa fa-github"></i
              >github.com/{{ person.contact.github }}
            </a>

            <a
              v-if="person.contact.gitlab"
              class="section-link link"
              :href="contactLinks.gitlab"
            >
              <i class="section-link__icon fa fa-gitlab"></i
              >gitlab.com/{{ person.contact.gitlab }}
            </a>

            <a
              v-if="person.contact.medium"
              class="section-link link"
              :href="contactLinks.medium"
            >
              <i class="section-link__icon fa fa-medium"></i
              >{{ person.contact.medium }}
            </a>
          </div>
        </div>
      </div>

      <div class="content__right">
        <div class="section">
          <div class="section-headline">
            <i class="section-headline__icon material-icons">work</i
            >{{ lang.experience }}
          </div>

          <div class="section-content">
            <a
              v-for="(experience, index) in person.experience"
              :key="index"
              class="section-content__item"
              :class="{ link: experience.website !== undefined }"
              :href="experience.website"
            >
              <span class="section-content__header">{{
                experience.position
              }}</span>
              <span class="section-content__subheader">
                {{ experience.company }}
                <span class="section-content__plain">{{
                  experience.location
                }}</span>
              </span>

              <div class="section-content__text">
                {{ experience.timeperiod }}
              </div>
              <span class="section-content__text--light">{{
                experience.description
              }}</span>
              <div
                class="section-content__text--light"
                v-for="(notes, index) in experience.notes"
                :key="notes.item"
              >
                <br />
                {{ notes.item }}
              </div>
              <br />
            </a>
          </div>
        </div>

        <div class="section">
          <div class="section-headline">
            <i class="section-headline__icon material-icons">school</i
            >{{ lang.education }}
          </div>

          <div class="section-content">
            <a
              v-for="(education, index) in person.education"
              class="section-content__item"
              :key="index"
              :class="{ link: education.website !== undefined }"
              :href="education.website"
            >
              <span class="section-content__header">
                {{ education.school }}
              </span>
              <span class="section-content__subheader">{{
                education.degree
              }}</span>
              <span class="section-content__text">
                {{ education.timeperiod }}
              </span>
              <span class="section-content__text--light">
                {{ education.description }}
              </span>
            </a>
          </div>
        </div>

        <!-- PROJECTS SECTION -->
        <div v-if="person.projects" class="section">
          <div class="section-headline">
            <i class="section-headline__icon material-icons">code</i
            >{{ lang.projects }}
          </div>

          <div class="section-content-grid">
            <a
              v-for="(project, index) in person.projects"
              :key="index"
              class="section-content__item-grid"
              :class="{ link: project.url !== undefined }"
              :href="project.url"
            >
              <span class="section-content__header"> {{ project.name }} </span>
              <span class="section-content__subheader">{{
                project.platform
              }}</span>
              <span class="section-content__text">
                {{ project.description }}
              </span>
            </a>
          </div>
        </div>
        <!-- END PROJECTIONS SECTION -->

        <!-- START CERTIFICATIONS SECTION -->
        <div v-if="person.certifications" class="section">
          <div class="section-headline">
            <i class="section-headline__icon material-icons">verified_user</i>
            {{ lang.certifications }}
          </div>

          <div class="section-content-grid">
            <a
              class="section-content__item-grid"
              v-for="(certificate, index) in person.certifications"
              :key="index"
            >
              <span class="section-content__header">
                {{ certificate.name }}
              </span>
              <span v-if="certificate.year" class="section-content__text">
                {{ certificate.year }}
              </span>
            </a>
          </div>
        </div>
        <!-- END CERTIFICATIONS SECTION -->
      </div>
    </div>

    <img class="picture" />
  </div>
</template>

<script>
import Vue from 'vue';
import { getVueOptions } from './options';

const name = 'flat-design';

export default Vue.component(name, getVueOptions(name));
</script>

<style lang="less" scoped>
@accent-color: #2c3e50;
@accent-color-text: #bdc3c7;
@banner-color: #16a085;
@banner-color-text: #ecf0f1;
@banner-height: 96px;
@picture-size: 96px;
@picture-offset: 16px;
@base-padding: 24px;
@left-column-width: 240px;

.link {
  color: inherit;
  cursor: pointer;
  text-decoration-line: none;

  &:visited {
    color: inherit;
  }
}

.resume {
  position: relative;
  font-family: "Roboto" !important;
  font-size: 0.9em;
}

.picture {
  position: absolute;
  top: @banner-height - @picture-offset;
  left: @left-column-width + @base-padding * 2 - @picture-size / 2;
  height: @picture-size;
  width: @picture-size;
  border-radius: 50%;
  border: 5px solid @accent-color;
  content: url("../../resume/id.jpg");
  z-index: 2;
}

.banner {
  width: calc(100% - @base-padding * 2);
  height: @banner-height;
  padding: @base-padding;
  background-color: @banner-color;
  color: @banner-color-text;

  &__fullname {
    font-size: 32px;
  }

  &__position {
    font-size: 16px;
  }

  &__location {
    font-size: 12px;
  }
}

.content {
  display: flex;
  width: 100%;
  height: 100%;

  &__left,
  &__right {
    height: 100%;
    padding: @base-padding;
  }

  &__left {
    width: @left-column-width;
    color: rgba(255, 255, 255, 0.59);
    background-color: @accent-color;

    .section-headline {
      color: @accent-color-text;
    }
  }

  &__right {
    flex: 1;
  }
}

.section {
  margin: 20px 0;
}

.section-link,
.section-headline {
  display: flex !important;
  align-items: center;
  color: @accent-color;
  display: inline-block;
  font-size: 1.2em;
  margin: 8px 0;

  &__icon {
    margin-right: 8px;
    font-size: 1.4em;
  }
}

.section-link {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.59) !important;

  &__icon {
    color: @accent-color-text;
  }
}

.section-content {
  margin-top: 5px;
  padding-left: 32px;
  font-size: 14px;

  &__item {
    display: block;
    margin-bottom: 5px;
  }

  &__header {
    display: block;
    font-size: 1.1em;
    font-weight: 500;
  }

  &__subheader {
    display: block;
    font-weight: 400;
  }

  &__plain,
  &__text {
    display: block;
    font-size: 12px;

    &--light {
      font-size: 0.9em;
      font-weight: 300;
      line-height: 1.15;
    }
  }

  &__plain {
    display: inline;
    font-weight: 300;
  }

  &__item-grid {
    flex: 1 1 0;
    margin-bottom: 5px;
    padding-right: 5px;
  }

  &--plain {
    padding: 0;
  }
}

.section-content-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid-item {
  padding-right: 5px;
}

.squarred-grid-item {
  display: block;
  border: 1px solid @accent-color-text;
  color: @accent-color-text;
  margin-top: 5px;
  padding: 5px;
  font-size: 10px;
}
</style>
